@model IEnumerable<VideoWindowViewModel>

<h1>All Videos</h1>

<div class="video-list">
    @foreach (var video in Model)
    {
        <div class="video-item">
            <h3>@video.Title</h3>
            <p>@video.OwnerName</p>
            <p>Uploaded on: @video.Uploaded.ToString("dd/MM/yyyy")</p>
            

            <video controls width="500">
                <source src="@video.VideoPath" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    }
</div>